{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{  url_for('static', path='css/pages/list.css') }}"/>
    {% include "components/modal.html" %}
        <div class="topBar">
    <div class="left">
        <span>
            {% include 'icons/searchmagnifier.svg' %}
        </span>
        <input type="text" id="search-input" name="search" placeholder="Buscar item..." 
               hx-get="/tasks" 
               hx-target=".listItems" 

               hx-swap="innerHTML transition:true"
               hx-trigger="keyup changed" 
               hx-include="[name='status']" 
               autocomplete="off">
    </div>
    <div class="right">
        <div class="listFilters">
            <label class="filter-option">
                <input type="radio" name="status" value="all" checked
                       hx-get="/tasks" hx-target=".listItems" hx-swap="innerHTML transition:true"
                       hx-include="#search-input" autocomplete="off">
                <span>Todos</span>
            </label>
            
            <label class="filter-option">
                <input type="radio" name="status" value="pending" autocomplete="off"
                       hx-get="/tasks" hx-target=".listItems" hx-swap="innerHTML transition:true" hx-include="#search-input">
                <span>Pendentes</span>
            </label>

            <label class="filter-option">
                <input type="radio" name="status" value="completed" autocomplete="off"
                       hx-get="/tasks" hx-target=".listItems" hx-swap="innerHTML transition:true" hx-include="#search-input">
                <span>Concluídos</span>
            </label>
        </div>
        <span id="addItemButton">{% include 'icons/plusbutton.svg' %} Novo Item</span>
    </div>
</div>
        {% include "components/itemsList.html" %}
        <script defer>
            const modalOverLay = document.getElementById("modalOverlay");
            const addItemButton = document.getElementById("addItemButton");

            addItemButton.addEventListener("click", () => {
              modalOverLay.style.display = "flex";
              modalInput.focus();
            });
        </script>
{% endblock %}
