{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{  url_for('static', path='css/list.css') }}"/>
        <div class="topBar">
            <div class="left">
                <input type="text" name="" value="" placeholder="Buscar item...">
            </div>
            <div class="right">
                <div class="listFilters">
                    <button>Todos</button>
                    <button>Pendentes</button>
                    <button>Concluídos</button>
                </div>
                <button>Novo Item</button>
            </div>
        </div>
        <div class="listItems">
            {% include "components/itemsList.html" %}
        </div>
{% endblock %}
