/* RESET CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #f6f8f6;
}

/* ESTILIZAÇÃO DA PÁGINA */

header {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow:
        rgba(0, 0, 0, 0.03) 0px 1px 2px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px;
}

header h1 {
    font-size: 1.8em;
}

main {
    width: 100%;
    min-height: 100%;
}

.container {
    min-height: 100%;
    width: calc(100% - 8% - 8%);
    margin: 0px 8% 0 8%;
}
