.topBar {
  width: 100%;
  height: 3em;
  margin: 40px 0px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.topBar .left {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.topBar .left input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  box-shadow:
    rgba(0, 0, 0, 0.07) 1px 1px 3px,
    rgba(0, 0, 0, 0.14) 1px 1px 3px;
  color: darkgreen;
}

.topBar .right {
  height: 100%;
  width: 50%;
  display: flex;
}

.topBar .right .listFilters {
  width: 60%;
  height: 90%;
  margin: auto 10px;
  background-color: #ffffff;
  display: flex;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.07) 1px 1px 3px,
    rgba(0, 0, 0, 0.14) 1px 1px 3px;
}

.topBar .right .listFilters > button {
  height: 90%;
  width: 30%;
  margin: auto;
  border: none;
  border-radius: 5px;
  background-color: #e9e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.topBar .right > button {
  width: 40%;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px;
  background-color: #13ec5b;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.07) 1px 1px 3px,
    rgba(0, 0, 0, 0.14) 1px 1px 3px;
  cursor: pointer;
}

.listHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: darkgreen;
}
