.topBar {
    width: 100%;
    min-height: 3em;
    margin: 40px 0px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}



 .left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.topBar .left input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
    color: darkgreen;
}

 .right {
    height: 100%;
    width: 50%;
    display: flex;
}

 .right .listFilters {
    width: 60%;
    height: 90%;
    margin: auto 10px;
    background-color: #ffffff;
    display: flex;
    border-radius: 8px;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
}

.right .listFilters .filter-option>input {
    display: none;
}

 .right .listFilters>label {
    height: 90%;
    width: 30%;
    margin: auto;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.topBar .right .listFilters>label:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.topBar .right .listFilters>label:has(input:checked) {
    background-color: #e9e9ed;
}

.topBar .right .listFilters>label:has(input:checked):hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#addItemButton {
    width: 40%;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    background-color: #13ec5b;
    border: none;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.topBar .right>button:hover {
    filter: brightness(0.90);
}

.listHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: darkgreen;
}

@media (width < 600px) {
    .topBar{
        flex-direction: column;
    }

    .topBar > * {
        width: 100%;
    }

    .topBar .left > input {
        height: 3em;
    }


    .topBar .right  {
        flex-wrap: wrap;
    }

    .topBar .right > *{
        margin: 10px 0;
    }

    .topBar .right .listFilters {
        width: 100%;
    }

    #addItemButton {
        width: 100%;
    }

}
