/* 
Plano de organização:
    Quero que os itens fiquem na ordem que aparecem no html
    Vou colocar comentário no topo de cada parte do css que precisar
    Usar os seletores corretos > + ~ ao invés de nenhum
*/

/* --- CORPO DA PÁGINA --- */
.list-page {
    height: 100%;
    width: 100%;
}

/* --- TOPBAR --- */
.list-page>.topBar {
    width: 100%;
    min-height: 3em;
    margin: 40px 0px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.list-page>.topBar>.left {
    height: 3em;
    width: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
    color: darkgreen;
    border: none;
}

.list-page .left>span {
    height: 100%;
    width: 20px;
    margin: 0 10px;
}

.list-page .left>span>svg {
    height: 100%;
    width: 100%;
    fill: black;
}

.list-page>.topBar>.left>input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
}


.list-page>.topBar>.left>input:focus {
    outline: transparent;
}

.list-page .right {
    min-height: 2em;
    width: 50%;
    display: flex;
}

.list-page .right>.listFilters {
    width: 60%;
    height: 90%;
    margin: auto 10px;
    background-color: #ffffff;
    display: flex;
    border-radius: 8px;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
}

.list-page .right>.listFilters>.filter-option {
    height: 90%;
    width: 30%;
    margin: auto;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.list-page .right>.listFilters>.filter-option>input {
    display: none;
}

.list-page>.topBar>.right>.listFilters>label:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.list-page>.topBar>.right>.listFilters>label:has(input:checked) {
    background-color: #e9e9ed;
}

.list-page>.topBar>.right>.listFilters>label:has(input:checked):hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.list-page #addItemButton {
    width: 40%;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    background-color: #13ec5b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.list-page #addItemButton>svg {
    height: 20px;
    width: 20px;
    margin: 0 5px;
}


.list-page>.topBar>.right>span:hover {
    filter: brightness(0.90);
}

/* MEDIA QUERY DA TOPBAR */

@media (width < 600px) {
    .list-page>.topBar {
        flex-direction: column;
    }

    .list-page .topBar>.left {
        width: 100%;
    }

    .list-page .topBar>.right {
        width: 100%;
    }

    .list-page .topBar>.left>input {
        height: 3em;
    }


    .list-page .topBar>.right {
        flex-wrap: wrap;
    }

    .list-page .topBar>.right>* {
        margin: 10px 0;
    }

    .topBar .right>.listFilters {
        width: 100%;
    }

    .list-page #addItemButton {
        width: 100%;
    }

}

/* MODAL */

.list-page>.modalOverlay {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    min-height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.list-page>.modalOverlay>.modal {
    min-height: 400px;
    width: 600px;
    /* display: none; */
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 10px 3px;
}

@media (width < 600px) {
    .list-page>.modalOverlay>.modal {
        width: 90%;
    }


}

.list-page .modalHeader {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 20px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/static/img/vegetables.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.list-page .modalHeader .modalExit {
    height: 50%;
}

.list-page .modalHeader .modalExit>button {
    margin: 20px;
    padding: 0.8em 1em;
    border-radius: 40%;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    background-color: rgba(255, 255, 255, 0.7);
}

.list-page .modalHeader .modalExit>button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.list-page .modalHeader .modalTitle {
    height: 50%;
    width: 100%;
    margin-left: 20px;
    color: white;
}

.list-page .modalHeader .modalTitle>p {
    margin-top: 10px;
    text-decoration: underline;
}

.list-page .modalBody {
    height: 60%;
}

.list-page .modalBody .modalInput {
    height: 70%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.list-page .modalBody .modalInput>* {
    width: 100%;
}

.list-page .modalBody .modalInput>label {
    margin-top: 20px;
    font-weight: 600;
}

.list-page .modalBody .modalInput #modalInputBox {
    margin: 5px 0;
    height: 2em;
    padding: 1.8em;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #a3a3a3;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
    transition: ease-in-out 0.1s;
}

.list-page .modalBody .modalInput #modalInputBox:focus {
    border: 3px solid #13ec5b;
    outline: transparent;
}

.list-page .modalBody .modalButtons {
    height: 30%;
    margin: 0 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.list-page .modalBody .modalButtons>button {
    font-size: 18px;
    padding: 1em 5.2em;
    border-radius: 15px;
    border: 1px solid #a3a3a3;
    box-shadow:
        rgba(0, 0, 0, 0.07) 1px 1px 3px,
        rgba(0, 0, 0, 0.14) 1px 1px 3px;
    cursor: pointer;
}

.list-page #buttonCancelar {
    background-color: white;
}

.list-page #buttonAdicionar {
    background-color: #13ec5b;
}

/* MEDIA QUERY DO MODAL */

@media (width < 600px) {
    .list-page>.modalOverlay>.modal>.modalBody>.modalInput {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .list-page>.modalOverlay>.modal>.modalBody>.modalButtons {
        justify-content: center;
        gap: 10px;
    }

    .list-page>.modalOverlay>.modal>.modalBody>.modalButtons>button {
        padding: 1em 2em;
        width: 100%;
        max-width: 300px;
    }
}
