<link
  rel="stylesheet"
  href="{{ url_for('static', path='css/components/modal.css') }}"
/>
<script src="{{ url_for('static', path='js/modal.js') }}" defer></script>
<div class="modalOverlay" id="modalOverlay">
  <div class="modal">
    <div class="modalHeader">
      <div class="modalExit" id="modalExit"><button type="">X</button></div>
      <div class="modalTitle">
        <h1>Novo Item</h1>
        <p>O que vamos comprar hoje?</p>
      </div>
    </div>
    <div class="modalBody">
      <div class="modalInput">
        <label for="modalInputBox">Nome do produto</label>
        <input
          type="text"
          name="name"
          value=""
          id="modalInputBox"
          placeholder="Ex: Leite, Pão, Ovo.."
        />
        <p>Pressione <strong>Enter</strong> para adicionar rapidamente</p>
      </div>
      <div class="modalButtons">
        <button id="buttonCancelar">Cancelar</button>
        <button
          id="buttonAdicionar"
          hx-post="/item"
          hx-target=".listItems"
          hx-swap="beforeend"
          hx-include="#modalInputBox"
          hx-trigger="click"
          hx-on::after-request="closeModal()"
        >
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const modalOverlay = document.getElementById("modalOverlay");
  const modalExit = document.getElementById("modalExit");
  const buttonCancelar = document.getElementById("buttonCancelar");
  const modalInput = document.getElementById("modalInputBox");

  modalExit.addEventListener("click", closeModal);

  modalOverlay.addEventListener("click", (e) => {
    if (e.target === modalOverlay) {
      closeModal()
    }
  });

  buttonCancelar.addEventListener("click", closeModal);

  function closeModal() {
    modalOverlay.style.display = "none";
    modalInput.value = "";
  }
  closeModal()
</script>
